<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="navbar">
<link rel="stylesheet" type="text/css"
href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des Joueurs</title>
</head>
<body>
<div layout:fragment="Mynavbar">
<div class="container mt-5">
<div class="card">
<div class="card-header" th:if="${mode=='new'}"> Ajout des Joueurs </div>
 <div class="card-header" th:if="${mode=='edit'}">Modification des Joueurs</div>
<div class="card-body">
 <form th:action="@{saveJoueur}" method="post">
 <div class="form-group">
<label class="control-label" hidden>ID Joueur :</label>
<input type="hidden" name="idJoueur" class="form-control"
th:value="${joueur.idJoueur}" />
 </div>

<div class="form-group">
 <label class="control-label">Nom Joueur :</label>
 <input type="text" name="nomJoueur" class="form-control" th:value="${joueur.nomJoueur}" />
<span th:errors= ${joueur.nomJoueur} class="text-danger"> </span>
</div>
<div class="form-group">
<label class="control-label">Prix Joueur :</label>
<input type="text" name="prixJoueur" class="form-control" th:value="${joueur.prixJoueur}" />
<span th:errors=${joueur.prixJoueur} class="text-danger"> </span>
</div>
<div class="form-group">
<label class="control-label">Date Naissance :</label>
<input type="date" name="dateCreation" class="form-control" th:value="${joueur.dateCreation}"/>
<span th:errors=${joueur.dateCreation} class="text-danger"> </span>
</div>
<div th:if="${mode!='edit'}">
<div class="form-group"> 
<label class="control-label">Equipe :</label>
 <select name="equipe" class="form-control" required>
 <option th:each="c : ${equipes}" th:value="${c.idEquipe}" th:text="${c.nomEquipe}"></option>
 </select>
</div>
</div>
<div th:if="${mode=='edit'}">
<div class="form-group"> 
<label class="control-label">Equipe :</label>
 <select name="equipe" class="form-control" required>
  <option th:value="${joueur.equipe.idEquipe}" th:text="${joueur.equipe.nomEquipe}" selected></option>
 <option th:each="c : ${equipes}" th:value="${c.idEquipe}" th:text="${c.nomEquipe}"></option>
 </select>
</div>
</div>
 <div style="text-align:center;margin-top:20px;">
  <a th:href="@{ListeJoueurs}" ><button type="button" class="btn btn-secondary">Annuler</button></a>
 <button type="submit" class="btn btn-primary">Valider</button>
 </div>
 </div>
</form>
</div>
 </div>
 </div>
 </div>
</body>
</html>
